/*------------------------------------------------------------------
  	[Contact]
------------------------------------------------------------------*/

@use '../variables' as *;
@use '../mixins' as *;

.contact-list {
	> li {
		@include font($size: 13px);
		color: $color-link;
		margin-bottom: 10px;
	}
}
